/* GLOBAL CSS */
* {
  box-sizing: border-box;
  font-family: roboto;
}

input {
  font-family: lato;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  height: 100%;
}

.issBody {
  overflow: hidden;
}

.issHeader {
  margin-bottom: 100px;
}

.issheaderH2 {
  margin: 0 auto 50px auto;
  width: 50%;
}

.issParagraph {
  margin: 0 auto 50px auto;
  width: 33%;
}

p {
  color: black;
  letter-spacing: 1px;
  margin: 1em 0;
  font-size: 20px;
  margin-left: 40px;
  font-family: lato;
}

h1 {
  color: white;
  letter-spacing: 2px;
  font-size: 52px;
}

.nasaH1, .launchH1 {
  margin: 0 50px;
  color: black;
}

.roverHeaderH1 {
  margin: 0 0 0 50px;
  color: black;
}

h2 {
  color: black;
  font-size: 38px;
}

.storyH2 {
  margin: 100px 0 0 50px;
}

.storyP {
  margin: 25px 425px 50px 200px;
  font-family: lato;
  font-size: 16px;
}

h3 {
  color: white;
  text-align: center;
}

h4 {
  margin: 10px 0;
}

.roverHeaderH2 {
  margin: 40px 0 0 0;
  letter-spacing: .1rem;
  color: black;
  width: 200%;
}

.nasaH2 {
  margin: 38px 50px 0 -45px;
  letter-spacing: .1rem;
  color: black;
  width: 100%;
}

.launchH2 {
  margin: 38px 0 0 -45px;
  letter-spacing: .1rem;
  color: black;
  width: 200%;
}

header {
  padding: 10px 0;
  display: inline-flex;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  position: relative;
}

main {
  width: 100%;
  margin-top: -84px;
}

.header-container-h1_h2 {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}

.social-container-header-launch a {
  float: right;
}

.social-container-header-launch {
  margin-right: 50px;
}

.social-container-header {
  width: 100%;
  margin-right: 50px;
  align-self: center;
  text-align: right;
  float: right;
}

.social-container-footer {
  width: 100%;
  padding: 365px 0 0;
  display: none;
}

.fa, .far {
  padding: 14px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  border-radius: 50%;
}

.fa:hover, .far:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 14px 17px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-question-circle {
  background: black;
  color: white;
}

footer {
  width: 100%;
  display: block;
  text-align: center;
}

.social-container-footer-rover {
  padding: 30px 0 20px 0;
}

.social-container-footer-launch a {
  margin: 50px 0;
}

.social-container-footer-launch {
  display: none;
}

.social-container-header-launch {
  align-self: center;
  width: 100%;
}

nav {
  align-self: center;
  width: 100%;
}

button {
  width: 200px;
  height: 45px;
  cursor: pointer;
  float: right;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  font-family: lato;
}

button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.toggle {
  display: none;
}

/* Launches */
.past-content-p, .upcoming-content-p {
  margin: 30px 300px;
  font-size: 26px;
  max-width: 600px;
}

/* Map and ISS CSS */
.apiMap-container {
  margin-bottom: 50px;
}

#apiMap {
  width: 800px;
  height: 800px;
  border-radius: 20px;
  align-items: center;
  padding: 6px;
}

.main-ISS {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.iss-container {
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.apiPeople-container {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  text-align: center;
  padding: 0 25px;
}

#apiPeople {
  margin: 0 auto;
  width: 600px;
}

.peoplesNames-container {
  display: inline-flex;
}

.peopleNames {
  background: rgba(63, 142, 191, 0.2);
  width: 220px;
  height: 140px;
  border-radius: 20px;
  text-align: left;
  padding: 16px;
  margin: 6px;
  line-height: 2rem;
  font-size: 18px;
}

.leaflet-container {
  width: 100%;
  height: auto;
  font-family: lato;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  font-size: 14px;
}

.leaflet-container a {
  color: black;
}

/*  Mars Rover css */
#bodyRover {
  background: white;
  height: 100%;
}

.past-content, .upcoming-content {
  margin-left: 50px;
  padding-top: 50px;
}

.H2rover {
  margin: 100px 0 0 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 30%;
  background: #F2F2F2;
  border-radius: 16px;
  margin: 0 20px 30px 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.container {
  padding: 10px 16px;
  background: #F2F2F2;
  width: 100%;
  height: auto;
  border-radius: 16px 16px;
  line-height: 2em;
}

.container>a {
  text-decoration: none;
}

.emblem {
  width: 100px;
  height: auto;
  float: right;
  margin: 0 30px 50px 0;
  cursor: pointer;
}

.clickable-image, iframe {
  width: 100%;
  height: 400px;
  transition: transform 0.5s;
}

.dates {
  float: right;
}

.container :last-child {
  margin-bottom: 30px;
}

.image-zoomed {
  animation: scaleUp 2s forwards linear;
}

.clickable-image:hover {
  cursor: pointer;
}

@keyframes scaleUp {
  from {
    width: 300px;
  }

  to {
    width: 100%;
  }
}

.social-container-footer-rover {
  display: none;
}

/* Contact Form */
#headerForm {
  height: 150px;
}

.contactFormH1 {
  color: black;
  margin-left: 50px;
}

form {
  background: #efefef;
  padding: 24px;
  border: 1px solid #ced4da;
  border-radius: 6px;
}

.form-error {
  font-size: 14px;
  margin-top: 3px;
  display: none;
}

.form-container {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -25%);
  max-width: 600px;
  width: 100%;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  background: #fff;
  margin-top: -350px;
}

.form-control {
  width: 100%;
  border: solid 1px grey;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

textarea {
  height: 150px;
}

.btn {
  padding: 10px;
  margin: 10px 0 0;
  width: 100px;
  height: 50px;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.second-container {
  display: flex;
  flex-direction: column;
  height: 22.5%;
}

.footer-contactform {
  padding-top: 100px;
}

#error-message {
  margin-bottom: 20px;
  padding: 0;
  background: rgba(242, 34, 15, 0.6);
  text-align: center;
  font-size: 16px;
  font-style: italic;
  transition: all .05s ease;
  border-radius: 10px;
  font-family: 'roboto';
}

/* .container:hover {
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.7);
} */
.input-field {
  flex: 0 0 100%;
  padding: 15px;
}

/* Media query */
@media only screen and (max-width: 1440px) {
  .main-ISS {
    width: 80%;
  }

  .issHeader {
    margin-bottom: 50px;
  }

  #apiMap {
    margin: 0 auto;
    padding: 0;
  }

  .apiPeople-container {
    padding: 0;
  }

  .card {
    width: 30%;
  }

  main {
    margin-top: -83px;
  }

  /* .mainLaunch{
   margin-top: -24px;
 } */
}

@media only screen and (max-width: 1200px) {
  .iss-container {
    flex-direction: column;
  }

  #apiMap {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .peopleNames {
    padding: 14px;
  }

  #apiPeople {
    width: 100%;
    margin-bottom: 50px;
  }

  .main-ISS {
    width: 100%;
  }

  .issBody {
    overflow: visible;
  }

  .launch-container-past, .launch-container-upcoming {
    justify-content: space-between;
    margin: 0 5px;
  }

  .social-container-header-launch {
    margin-right: 30px;
  }

  .card {
    width: 32%;
    margin: 0 2.5px 30px 2.5px;
  }

  .nasaH1, .launchH1 {
    margin: 0 0 0 25px;
    font-size: 52px;
  }

  .nasaH2, .launchH2 {
    font-size: 28px;
    margin: 41px 0 0 0;
  }

  .roverHeaderH2 {
    font-size: 28px;
    margin: 41px -40px 0 0;
    width: 250px;
  }

  .storyH2 {
    font-size: 28px;
    margin: 100px 0 0 50px;
  }

  .storyP {
    margin: 20px 150px;
  }

  .clickable-image, iframe {
    height: 300px;
  }

  .iss-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 810px) {
  .main-ISS {
    margin: 0 auto;
  }

  .social-container-footer-rover {
    display: none;
  }

  /* p{
    margin: 16px 20px 0;
  } */
  .iss-container {
    display: block;
    padding: 0;
  }

  footer {
    position: relative;
  }

  .card.past, .card.upcoming {
    width: 48%;
    margin: 0 3px 50px 3px;
  }

  .past-content, .upcoming-content {
    margin-left: 25px;
  }

  .social-container-header-launch {
    display: none;
  }

  .social-container-footer-launch {
    display: block;
  }

  button {
    margin-right: 40px;
  }

  .form-container {}

  .footer-contactform {
    padding-top: 60px;
  }

  #apiMap {
    margin: 1px 0 auto;
    height: 340px;
    border-radius: 0;
  }
}

@media only screen and (max-width: 700px) {
  apiMap {
    width: 100%;
  }

  .social-container-header {
    display: none;
  }

  .social-container-footer, .social-container-footer-rover {
    display: block;
  }

  footer {
    position: relative;
  }

  .social-container-footer a {
    margin-bottom: 50px;
  }

  .contactFormH1 {
    font-size: 42px;
    margin: 0 auto;
    align-self: center;
  }

  .nasaH2 {
    margin: 41px 0px 0 0;
  }
}

@media only screen and (max-width: 415px) {
  header {
    padding: 0;
    margin: 0;
  }

  #headerForm {
    height: 100px;
  }

  .main-ISS {}

  .iss-container {
    display: flex;
    flex-direction: column;
  }

  .social-container-footer a {}

  .issFooter {
    margin: 50px 0;
  }

  .social-container-footer {
    padding: 0;
  }

  .nasaH1, .launchH1 {
    font-size: 36px;
    letter-spacing: normal;
    padding-top: 6px;
  }

  .launchH1 {
    margin-left: 10px;
    color: black;
  }

  .nasaH2 {
    font-size: 18px;
    letter-spacing: normal;
    margin: 34px 0 0 0px;
  }

  .launchH2 {
    font-size: 18px;
    letter-spacing: normal;
    margin: 34px 0 0 -45px;
  }

  .launchH2 {
    color: black;
    margin: 41px 0 0 0;
  }

  .H2rover {
    margin: 0;
    text-align: center;
  }

  .roverHeaderH1 {
    font-size: 36px;
    letter-spacing: normal;
    padding-top: 6px;
    margin: 0;
  }

  .roverHeaderH2 {
    margin: 32px -40px 0 0;
  }

  .storyH2 {
    font-size: 18px;
    margin: 100px 30px 0 30px;
    text-align: left;
  }

  .storyP {
    margin: 20px 40px;
  }

  .card {
    width: 100%;
  }

  .social-container-footer-rover {
    display: block;
  }

  .social-container-footer-launch {
    /*  padding-bottom: 50px; */
    display: block;
  }

  /* .story-content{
    padding: 0 2px;
  } */
  .header-container-h1_h2 {
    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .header-container-h1 {
    font-size: 22px;
  }

  .header-container-nav {
    margin: 10px 0 0 70px;
  }

  #apiMap {
    margin: 0 auto;
    height: 680px;
    border-radius: 0;
  }

  .apiPeople-container {
    padding: 0 5px;
  }

  #apiPeople {
    height: 100%;
  }

  .peoplesNames-container {
    width: 100%;
  }

  .peopleNames {
    width: 100%;
    margin: 6px 0;
  }

  .iss-container {
    height: 110%;
  }

  .card.past, .card.upcoming {
    width: 100%;
  }

  /* .card:first-child{
  margin-top: 20px;
} */
  nav {
    width: 100%;
    height: 50%;
    margin-left: 10px;
  }

  button {
    display: none;
  }

  .launchH1 {
    margin: 8px 0;
  }

  #launchHeader {
    padding: 10px 0;
  }

  /* Toggle */
  .toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
  }

  input[type="checkbox"] {
    margin: 5px;
  }

  input:checked+.slider {
    background-color: #F28157;
  }

  input:checked+.slider:before {
    transform: translateX(22px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .past-content, .upcoming-content {
    font-size: 30px;
    margin-left: 40px;
  }

  .btn {
    display: block;
  }

  .footer-contactform {
    padding-top: 70px;
  }

  .form-container {
    top: 66%;
    padding: 15px;
  }

  .mainLaunch {
    margin-top: -24px;
  }

  .past-content-p, .upcoming-content-p {
    margin: 30px 50px;
  }

  .issHeader {
    margin-bottom: 0;
  }
}
